@model Forms.Models.Form;
@{
    ViewData["Title"] = "Wyniki";
}

<h1>Dane zostały wprowadzone dobrze:</h1>

<div>
    <p>Imię: @Model.Name</p>
</div>
<div>
    <p>Nazwisko: @Model.Surname</p>
</div>
<div>
    <p>E-mail: @Model.Email</p>
</div>
<div>
    <p>Hasło: @Model.Password</p>
</div>
<div>
    <p>Numer telefonu: @Model.PhoneNumber</p>
</div>
<div>
    <p>Wiek: @Model.Age</p>
</div>
<div>
    <p>Miasto: @Model.City</p>
</div>

